[Unit]
Description=Run borgmatic backup

[Timer]
{% for oncalendar in borgmatic_systemd_oncalendar %}
OnCalendar={{ oncalendar }}
{% endfor %}
Persistent=true
RandomizedDelaySec={{ borgmatic_systemd_randomizeddelaysec }}

[Install]
WantedBy=timers.target
