mutation ($id: String!, $appendOnlyKeys: [String], $fullAccessKeys: [String]) {
  repoEdit(id: $id, appendOnlyKeys: $appendOnlyKeys, fullAccessKeys: $fullAccessKeys) {
    repoEdited {
      id
      name
      server {
        id
        hostname
        region
        public
        fingerprintRsa
        fingerprintEcdsa
        fingerprintEd25519
      }
      quota
      quotaEnabled
      alertDays
      region
      borgVersion
      appendOnly
      appendOnlyKeys
      fullAccessKeys
      rsyncKeys
      totalSize
      totalCsize
      totalChunks
      totalUniqueChunks
      uniqueCsize
      uniqueSize
      encryption
      lastModified
      uid
      repoPath
      currentUsage
    }
  }
}
